name: Convert Markdown to PDF and Commit

on:
  push:
    paths:
      - 'CV.md'  # Trigger only when CV.md is modified
  workflow_dispatch:  # Allow manual triggering of the workflow

jobs:
  convert-and-commit:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Install dependencies
      - name: Install Required Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc texlive-xetex

      # Step 3: Run the Ruby script to convert Markdown to PDF
      - name: Run md2pdf.rb
        run: ./bin/md2pdf.rb CV.md CV.pdf

      # Step 4: Configure Git for committing
      - name: Set up Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      # Step 5: Commit and Push CV.pdf
      - name: Commit and Push CV.pdf
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add CV.pdf
          git commit -m "Update CV.pdf after modification to CV.md" || echo "No changes to commit"
          git push "https://${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"

      # Step 6: Switch to the Pages branch update README.md
      - name: Update GitHub Pages main page README.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout Pages
          cp CV.md docs/README.md
          git add docs/README.md
          git commit -m "Update GitHub Pages docs" || echo "No changes to commit"
          git push "https://${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"
